.articalPage {
  position:relative;
  padding:50px 30px;
  @include Media(575) {
    padding: 30x 0 50px;
  }
  h1 {
    font-size:2rem;
    font-weight: 800;
    margin-bottom: 30px;
    text-align: center;
  }
  h5 {
    font-size:1.2rem;
    text-transform: capitalize;
    margin-bottom: 10px;
    color:#00000099
  }
  span {
    font-size:.8rem;
    display: block;
    color:#00000099;
    margin-bottom: 15px;
    font-weight: 600;
    text-transform: uppercase;
  }
  p {
    font-size:1rem;
    color:#00000099;
    text-transform: capitalize;
  }
}

.formDiv {
  position:relative;
  max-width: 550px;
  margin: 0 auto;
  padding: 50px 30px;
  @include Media(575) {
    padding: 30x 0 50px;
  }
  .formInnerDiv {
    position:relative;
    padding: 30px;
    overflow: hidden;
    border-radius: 5px;
    @include Media(575) {
      padding: 30x 10px;
    }
  }
  h2 {
    font-size:2rem;
    font-weight: 800;
    margin-bottom: 30px;
    text-align: center;
  }
  .error {
    font-size:.8rem;
    margin-left: 10px;
    display:block;
    color:red;
  }
  .formBtn{
    position:relative;
    margin-top: 2rem;
    display:flex;
    justify-content:center;
  }
  .errorDiv {
    position: relative;
    width: 100%;
    background: rgba(255,0,0,0.5);
    color:#fff;
    padding: 5px;
    margin:10px 0;
    text-align: center;
  }
}